* {
    box-sizing: border-box;
}

html {}

body {
    font-family: inherit;
    background-color: $light-grey;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: rem(24);
    font-family: $font1;
    color: $dark;
}

.text-warning {
    color: $warning-color;
}