//Colors
$white: #FFF;
$light-grey: #F5F5F5;
$grey: #DADADA;
$dark-grey: #313131;
$dark: #2e2e2e;
$warning-color: #CFAE00;
$red: #EB1D1D;

//Goutière
$gutter-x: 1.5;

//Bordures
$border-default-style: solid;
$border-default-color: $light-grey;
$border-default-width: 1px;