.banner {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .banner-title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  }
}


