.border {
    border: $border-default-width $border-default-style $border-default-color;
}

.border-0 {
    border: 0 !important;
}

.border-light-grey {
    border-color: $light-grey;
}

.border-grey {
    border-color: $light-grey;
}

.border-dark-grey {
    border-color: $light-grey;
}

.bg-light-grey {
    background-color: $light-grey;
}

.bg-grey {
    background-color: $light-grey;
}

.bg-dark-grey {
    background-color: $light-grey;
}