.card {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    .card-img {
        width: 100%;
    }

    .card-body {
        display: flex;
        justify-content: center;
    }

    .card-title {
        margin-bottom: 0.5rem;
    }
}