.card {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    .card-img {
        width: 100%;
    }

    .card-body {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
    }

    .card-title {
        margin-bottom: 0.5rem;
    }
}