.text-warning {
    color: $warning-color !important;
}

.bg-warning {
    background-color: $warning-color !important;
}

.text-dark {
    color: $dark !important;
}

.bg-dark {
    background-color: $dark !important;
}

.text-white {
    color: $white !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-light-grey {
    background-color: $light-grey !important;
}

.bg-grey {
    background-color: $grey !important;
}

.bg-dark-grey {
    background-color: $dark-grey !important;
}

.bg-red {
    background-color: $red !important;
}

.text-red {
    color: $red !important;
}