.text-warning {
    color: $warning-color !important;
}

.bg-warning {
    background-color: $warning-color !important;
}

.text-dark {
    color: $dark !important;
}

.bg-dark {
    background-color: $dark !important;
}