.container,
.container-sm,
.container-md,
.container-lg {
    --gutter-x: 1rem;
    --bs-gutter-y: 0;
    max-width: 95%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter-x) * -0.5);
}

/* ========== Colonnes ========== */
/**
  * Width = x / 12 * 100
  * Exemple : col-2 => 2/12 * 100 = 16.66666667
  */

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

$cols: 12; // nombre de colonnes

@for $i from 1 through $cols {
    .col-#{$i} {
        flex: 0 0 auto;
        width: #{percentage($i / $cols)};
        padding: 0 calc(var(--gutter-x) * 0.5);
    }
}

@for $i from 1 through $cols {
    .col-sm-#{$i} {
        @media (min-width: 576px) {
            flex: 0 0 auto;
            width: #{percentage($i / $cols)};
            padding: 0 calc(var(--gutter-x) * 0.5);
        }
    }
}

@for $i from 1 through $cols {
    .col-md-#{$i} {
        @media (min-width: 768px) {
            flex: 0 0 auto;
            width: #{percentage($i / $cols)};
            padding: 0 calc(var(--gutter-x) * 0.5);
        }
    }
}

@for $i from 1 through $cols {
    .col-lg-#{$i} {
        @media (min-width: 992px) {
            flex: 0 0 auto;
            width: #{percentage($i / $cols)};
            padding: 0 calc(var(--gutter-x) * 0.5);
        }
    }
}