.font-family-josefin {
    font-family: $font1 !important;
}

.font-family-roboto {
    font-family: $font2 !important;
}

.uppercase {
    text-transform: uppercase;
}

.position-relative {
    position: relative;
}

.bold {
    font-weight: bold !important;
}

.d-none {
    display: none !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-justify {
    text-align: justify !important
}


@for $i from 6 through 20 {
    $size: $i * 1px;

    .font-size-#{$i} {
        font-size: $size;
    }
}