.font-family-josefin {
    font-family: $font1 !important;
}

.font-family-roboto {
    font-family: $font2 !important;
}

.uppercase {
    text-transform: uppercase;
}

.position-relative {
    position: relative;
}

.bold {
    font-weight: bold !important;
}

.d-none {
    display: none !important;
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}

.text-align-center {
    text-align: center !important;
}

.text-align-justify {
    text-align: justify !important
}

@for $i from 6 through 28 {
    $size: $i * rem(1);

    .font-size-#{$i} {
        font-size: $size;
    }

    @media (min-width: 992px) {
        .font-size-lg-#{$i} {
            font-size: $size;
        }
    }

    $radius: $i * rem(1);

    .border-radius-#{$i} {
        border-radius: $radius;
    }
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.lg-hidden {
    @media (min-width: 992px) {
        visibility: hidden !important;
    }
}

.lg-visible {
    @media (min-width: 992px) {
        visibility: visible !important;
    }
}